header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 150rem;
  position: relative;
  margin: 2rem;
}

/* Form */
.sectionForm {
  position: absolute;
  top: 0;
  left: 2rem;
  max-width: 35rem;
}

#form {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  font-size: 1.5rem;
}

.inputRow label:hover {
  cursor: pointer;
}

.inputRow input {
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
}
.inputRow input:hover {
  background-color: #dadada;
}

#btnSubmit {
  padding: 0.5rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
}
#btnSubmit:hover {
  cursor: pointer;
  background-color: #dadada;
}

/* Texts header */
.sectionTexts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 12.4rem;
  width: 100%;
}

.title {
  font-size: 2.2rem;
}

.sectionTexts p {
  font-size: 1.8rem;
  max-width: 90%;
}

/* Medias Q */
@media screen and (max-width: 1070px) {
  header {
    flex-flow: column-reverse nowrap;
    gap: 5rem;
  }

  .sectionForm {
    position: relative;
    width: 50%;
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  .sectionForm {
    position: relative;
    width: 80%;
    left: 0;
  }

  .sectionTexts p {
    font-size: 1.6rem;
  }
}